<div>
  <article role="article">
    <header>
      <h1 class="entry-title">Blog Archives</h1>
    </header>
    <%- partial('_partial/archive', {pagination: config.archive, index: true}) %>
  </article>
</div>
<%- partial('_partial/sidebar') %>