<footer role="contentinfo">
  <p>
    Copyright &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
    <span class="credit">Powered by <a href="http://hexo.io/">Hexo</a> - Octopress classic theme</span>
  </p>
</footer>